container_commands:
    00_chrome_driver:
        command: "sudo wget https://chromedriver.storage.googleapis.com/95.0.4638.69/chromedriver_linux64.zip"
        ignoreErrors: true
    01_unzip_driver:
        command: "sudo unzip chromedriver_linux64.zip"
        ignoreErrors: true
    02_move_driver:
        command: "sudo mv chromedriver /usr/bin/chromedriver"
        ignoreErrors: true
    03_install_chrome:
        command: "sudo curl -k https://intoli.com/install-google-chrome.sh | bash"
        ignoreErrors: true
    04_move_chrome:
        command: "sudo mv /usr/bin/google-chrome-stable /usr/bin/google-chrome"
        ignoreErrors: true
