option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: artorimo.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: artorimo.settings_prod
container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py makemigrations"
    command: "source /var/app/venv/*/bin/activate && python /var/app/current/manage.py migrate"
    leader_only: true
