commands:
  01_create_directory:
    command: sudo mkdir -p /var/log/app_logs
  02_change_permissions:
    command: sudo chmod 755 /var/log/app_logs
  #03_change_acl:
  #  command: sudo setfacl -d -m g::rw /var/log/app_logs/
  03_change_owner:
    command: sudo chown webapp:webapp /var/log/app_logs/
  04_create_file:
    command: sudo touch /var/log/app_logs/analyzer.log
  05_change_permissions:
    command: sudo chmod 755 /var/log/app_logs/analyzer.log
  06_change_owner:
    command: sudo chown webapp:webapp /var/log/app_logs/analyzer.log
