

.wrapper-icon {
    //overflow: hidden;
    // min-height: 3500px;
    height: auto;
}

.parent, .download-parent {
  position: absolute;
  top: 300px;
  left: 45%;
  height: 500px;
  width: 500px;
}



.parent, .download-parent {
  @media (max-width: 767px) {
    top: 240px;
    left: 12%;
    height: 700px;
    width: 700px;
  }
}



// .icon-container {
//   width: 100%;
//   display: block;
//   float: right;
// }
//
// .icon-container {
//   @media (max-width: 767px) {
//     width: 100%;
//     height: auto;
//     //height: 1200px;
//     text-align: center;
//   }
// }

// Iconio


.iconio-container-left {
  // height: 500px;
  //float: left;
  //width: 383px;
  display: block;
  position: relative;
  z-index: 0;
}

.iconio-container-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
  }
}

.iconio-container-right {
  // height: 500px;
  display: block;
  //width: 383px;
  position: relative;
  z-index: 0;
}

.iconio-container-right {
  @media (min-width: 767px) {
    float: right;
    width: 50%;
  }
}


// Icon
.icon-container-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
  }
}

.icon-container-left {
  // height: 500px;
  display: block;
  position: relative;
  z-index: 0;
}

.icon-container-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
  }
}


.icon-container-right {
  // height: 500px;
  display: block;
  // text-align: left;
}

.icon-container-right {
  @media (min-width: 767px) {
    float: right;
    width: 50%;
    // height: 500px;
  }
}


.layout-pad {
  display: block;
  height: 120px;
  width: 100%;
}

.layout-column {
  float: left;
  //width: 50%;
  height: 80px;
  width: 80px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.layout-img {
  //height: 50px;
  //margin: 50px;
  height: 100%;
}

.color-pad {
  display: block;
  margin-top: 30px;
  height: 100px;
  width: 100%;
}

.color-pad {
  @media (max-width: 767px) {
    margin-top: 97%;
    display: block;
  }
}

.looked-element-pad {
  display: block;
  // height: 100px;
  width: 100%;
  text-align: left;
  margin: 30px 0 30px 0;
}

.upload-memo-pad {
  display: block;
  height: 50px;
  width: 100%;
}

.looked-element-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.looked-element-button {
  @media (max-width: 767px) {
    font-size: 25px;
  }
}

.chosen-looked-element-button {
  background-color: #0abab5;
  border: 1px solid #0abab5;
  border-radius: 7px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  // margin-right: 10px;
}

.chosen-looked-element-button {
  @media (max-width: 767px) {
    font-size: 25px;
  }
}

.dropzone-icon-upload {
  // margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 70px;
  width: 100%;
  border: 2px dashed black;
  border-radius: 7px;
}

.dropzone-icon-line-upload {
  //margin: 0 auto;
  //margin-top: 10px;
  // margin-top: 10px;
  margin-bottom: 30px;
  margin-top: 12px;
  margin-right: 5px;
  margin-left: 10px;
  height: 70px;
  width: 45%;
  border: 2px dashed black;
  border-radius: 7px;
  float: left;
}

.dropzone-icon-colored-upload {
  // margin-top: 10px;
  margin-top: 12px;
  margin-bottom: 30px;
  margin-left: 5px;
  height: 70px;
  width: 45%;
  //width: 150px;
  border: 2px dashed black;
  border-radius: 7px;
  float: left;
}

.dropzone-text {
  font-size:70%;
}

.icon-uploaded-completed {
  display: block;
  width: 100%;
  // height: 150px;
  // margin-top: 20px;
  // float: right;
  text-align: center;
}

.icon-uploaded-parts {
  display: block;
  width: 100%;
  float: right;
  text-align: center;
  overflow : scroll;
  height: 400px;
  // margin: 10px;
  // border: solid 1px black;
  // border-radius: 7px;
}

.icon-uploaded-parts::-webkit-scrollbar {
    display:none;
}

.icon-uploaded-parts h3 {
  margin: 80px auto 50px;
}

.icon-pair {
  display: block;
  height: 400px;
  width: 100%;
}

.icon-pair-left {
  //display: inline-block;
  //position: absolute;
  top: 50;
  left: 0;
  width: 200px;
  height: 600px;
  float: left;
}

.icon-pair-right {
  //display: inline-block;
  //position: absolute;
  top: 50;
  left: 250;
  width: 200px;
  height: 400px;
  float: left;
}

.icon-pair-selection {
  display: block;
  height: 60px;
  width: 400px;
}

.image-pair1-left {
  position: absolute;
  //top: 180px;
  //left: 0;
  margin-left: -100px;
  width: 320px;
}

.image-pair1-right {
  position: absolute;
  //top: 120px;
  //left: 50;
  margin-left: -100px;
  width: 320px;
}

.image-pair2-left {
  position: absolute;
  //top: 180px;
  //left: 0;
  margin-left: -100px;
  width: 320px;
}

.image-pair2-right {
  position: absolute;
  //top: 120px;
  //left: 50;
  margin-left: -150px;
  margin-top: -50px;
  width: 350px;
}

// .image1 {
//   position: absolute;
//   top: 80px;
//   left: 0;
//   width: 500px;
// }

.image1 {
  position: absolute;
  top: 10px;
  left: 15%;
  width: 70%;
}

.image1 {
  @media (max-width: 767px) {
    width: 90%;
    top: 0;
    left: 7%;
  }
}

.download-image1 {
  position: absolute;
  top: 0;
  left: 0;
  //left: 15%;
  //width: 84%;
  height: 400px;
  width: 400px;
}

.download-image1 {
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    //width: 85%;
    left: 0;
    height: 400px;
    width: 400px;
  }
}

#my-iconio {
  position: absolute;
  top: 100px;
  left: 10px;
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0;
}

.parent-precheckout .image1 {
  @media (max-width: 767px) {
    width: 600px;
    height: auto;
    top: 230px;
    left: 30%;
    //z-index: 1;
  }
}

.function-buttons {
  margin-top: -100px;
  position: absolute;
  top: 700px;

}

.column {
  float: left;
  margin-bottom: 30px;
  width: 33%;
  // height: 300px;
  //padding: 15px;
}

// TODO: Chiaki
// Update this class :)
.wide-column {
  //float: left;
  margin-bottom: 30px;
  width: 100%;
  // height: 300px;
  //padding: 15px;
}

.unselect {
  width: 33%;
  margin: 20px auto!important;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
}

.unselect {
  @media (max-width: 767px) {
    width: 60%;
    margin: 20px auto!important;
    height: 60px;
    font-size: 2.4rem;
  }
}

.chosen-button {
  width: 33%;
  margin: 20px auto!important;
  height: 40px;
  font-size: 1.5rem;
  border-radius: 7px;
  display: inline-block;
  text-align: center;
}

.chosen-button {
  @media (max-width: 767px) {
    width: 60%;
    margin: 20px auto!important;
    height: 60px;
    font-size: 2.4rem;
  }
}

.chosen {
  width: 100%;
  border: 2px solid red;
}

.choice {
  width: 100%;
}

.pleasetap {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}


.icontest1 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500px;
  z-index: 1;
  filter: hue-rotate(90deg);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.outer-circle {
   background: black;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   position: relative;
   float: left;
   /*
    Child elements with absolute positioning will be
    positioned relative to this div
   */
}

.outer-circle {
  @media (max-width: 767px) {
    height:58px;
    width: 58px;
  }
}

.inner-circle {
   position: absolute;
   background: #a9aaab;
   border-radius: 50%;
   height: 26px;
   width: 26px;
   /*
    Put top edge and left edge in the center
   */
   top: 50%;
   left: 50%;
   margin: -13px 0px 0px -13px;
   /*
    Offset the position correctly with
    minus half of the width and minus half of the height
   */
}

.inner-circle {
  @media (max-width: 767px) {
    height:50px;
    width: 50px;
    top:30%;
    left:30%;
  }
}

body {
  //background-color:#03030a;
  min-width: 800px;
  min-height: 400px
}

.icon-error-heading {
  display: block;
  color: red;
  margin-top: 10px;
  font-size: 0.7em;
}


.preview {
  position: relative;
  z-index: 1;
}

.imgSample {
  z-index: 1;
  opacity: 0.5;
}
.imgFace {
  z-index: -35;
}
.imgFaceLine {
  z-index: -33;
}
.imgHair {
  z-index: -27;
}
.imgHairLine {
  z-index: -25;
}
.imgBang {
  z-index: -15;
}
.imgBangLine {
  z-index: -13;
}
.imgSide {
  z-index: -23;
}
.imgSideLine {
  z-index: -21;
}
.imgEyes {
  z-index: -17;
}
.imgEyeballs {
  z-index: -19;
}
.imgEyebrows {
  z-index: -27;
}
.imgEyebrowsLine {
  z-index: -25;
}
.imgNose {
  z-index: -11;
}
.imgMouth {
  z-index: -9;
}
.imgMouthLine {
  z-index: -7;
}
.imgCloth {
  z-index: -31;
}
.imgClothLine {
  z-index: -29;
}
.imgAccessories {
  z-index: -1;
}
.imgBackGround {
  z-index: -37;
}


// Second person
.imgFaceBehind {
  z-index: -71;
}
.imgFaceLineBehind {
  z-index: -69;
}
.imgHairBehind {
  z-index: -67;
}
.imgHairLineBehind {
  z-index: -65;
}
.imgBangBehind {
  z-index: -63;
}
.imgBangLineBehind {
  z-index: -61;
}
.imgSideBehind {
  z-index: -59;
}
.imgSideLineBehind {
  z-index: -57;
}
.imgEyesBehind {
  z-index: -55;
}
.imgEyeballsBehind {
  z-index: -53;
}
.imgEyebrowsBehind {
  z-index: -51;
}
.imgEyebrowsLineBehind {
  z-index: -49;
}
.imgNoseBehind {
  z-index: -47;
}
.imgMouthBehind {
  z-index: -45;
}
.imgMouthLineBehind {
  z-index: -43;
}
.imgClothBehind {
  z-index: -41;
}
.imgClothLineBehind {
  z-index: -39;
}
.imgAccessoriesBehind {
  z-index: -37;
}

.instruction-upload {
  margin: 20px 0 0 0;
}

.form-send-btn {
  margin-top: 100px;
}

.uploader-one {
  height: auto;
  min-height: 450px;
  margin: 20px;
  border: solid 2px white;
  border-radius: 7px;
  background-color: white;
  padding: 10px;
  z-index: -1;
}

.uploader-one {
  @media (max-width: 767px) {
    height: auto;
    padding: 10px;
    margin: 20px 20px 50px 20px;
  }
}

.paypal-icon {
  height: auto;
  padding-bottom: 50px;
}

.uploader-two {
  height: auto;
  margin: 20px 20px 80px 20px;
  border: solid 2px white;
  border-radius: 7px;
  background-color: white;
  padding: 10px;
  z-index: -71;
}

.icon-uploader {
  display: block;
  float: right;
  width: 75%;
  // height: 2000px;
  background-color: #EEEEEE;
  text-align: center;
  padding-bottom: 70px;
  z-index: -1000;
}

.icon-uploader {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 100px 3%;
  }
}

.icon-maker {
  display: block;
  //float: right;
  //width: 70%;
  // height: 2000px;
  background-color: #EEEEEE;
  text-align: center;
  //padding-bottom: 70px;
  padding-top: 10px;
  z-index: -1000;
}

.icon-maker {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 10px 3% 100px 3%;
  }
}

.uploader-two h3 {
  margin: 30px auto;
}

.svg-filter {
  display: none;
}

.btn.savep {
  @media (max-width: 767px) {
    height: 100px;
    font-size: 2.4rem;
  }
}

.download-screen {
  width: 70%;
  float: right;
}

.download-screen {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 100px 3%;
  }
}

.spacer {
  height: 500px;
}

.spacer {
  @media (max-width: 767px) {
    height: 800px;
  }
}

.spacer-precheckout {
  @media (max-width: 767px) {
    height: 600px;
  }
}

.checkout {
  margin-bottom: 100px;
}

.checkout-list-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.checkout-list {
  font-size: 24px;
}

.checkout-list-amt {
  font-size: 24px;
}

.total, .total-amt {
  font-size: 40px;
}

.checkout-item {
  width: 100%;
  margin-bottom: 50px;
}

.checkout-item td {
  font-size: 24px;
}

.usage-policy {
  display: block;
  margin: 10px auto;
  height: auto;
  text-align: center;
  // width: 50%;
}

.usage-policy-sign {
  display: inline-block;
  color: #6e7071;
  padding: 10px;
  margin-right: 5px;
  // border: 1px solid #6e7071;
  border-radius: 7px;
}

.uploader-three {
  height: auto;
  padding: 60px 10px 100px;
  text-align: center;
}

.policy-wrapper {
  width: 100%;
  height: 100vmin;
}

.sign-area {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  height: 25vmin;
  width: 100%;
  padding-top: 5px;
  font-size: 0.8em;
}

.use-header {
  margin: 5px 0 0 0;
  font-weight: bold;
}

.use-wrapper {
  margin-bottom: 10px;
}

.iconio-examples {
  padding-bottom: 0!important;
}

.icon-example {
  width:200px;
  height: 200px;
  background-color: black;
  display: inline-block;
  margin: 20px 20px 0;
}

.finish-message {
  margin-top: 50px;
}
