.wrapper-icon {
    overflow: hidden;
    min-height: 3500px;
}

.parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
}

.icon-container {
  // height: 1000px;
  width: 100%;
  height: 500px;
  display: block;
}

.icon-container {
  @media (max-width: 767px) {
    width: 100%;
    //height: auto;
    height: 500px;
    padding: 0 3% 100px 3%;
  }
}

.icon-container-left {
  height: 500px;
}
.icon-container-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
  }
}

.icon-container-right {
  @media (min-width: 767px) {
    float: right;
    width: 50%;
    height: 500px;
  }
}

.color-pad {
  display: block;
  height: 50px;
  width: 100%;
}

.looked-element-pad {
  display: block;
  height: 80px;
  width: 100%;
}

.looked-element-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.chosen-looked-element-button {
  background-color: #0abab5;
  border: 1px solid #0abab5;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.dropzone-icon-upload {
  margin: 0 auto;
  margin-top: 10px;
  height: 70px;
  width: 300px;
  border: 1px solid black;
}

.dropzone-icon-line-upload {
  //margin: 0 auto;
  //margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  height: 70px;
  width: 45%;
  border: 1px solid black;
  float: left;
}

.dropzone-icon-colored-upload {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  height: 70px;
  width: 45%;
  //width: 150px;
  border: 1px solid black;
  float: left;
}

.icon-uploaded-parts {
  display: block;
}

.image1 {
  position: absolute;
  top: 180px;
  left: 0;
  width: 500px;
  //z-index: 1;
}

.function-buttons {
  margin-top: -100px;
  position: absolute;
  top: 700px;

}

.column {
  float: left;
  width: 33%;
  //padding: 15px;
}

.choice {
  width: 200px;
  border: 1px dotted gray;
}

.choosed {
  width: 200px;
  border: 2px solid red;
}


.icontest1 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500px;
  z-index: 1;
  filter: hue-rotate(90deg);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.outer-circle {
   background: black;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   position: relative;
   float: left;
   /*
    Child elements with absolute positioning will be
    positioned relative to this div
   */
}

.inner-circle {
   position: absolute;
   background: #a9aaab;
   border-radius: 50%;
   height: 26px;
   width: 26px;
   /*
    Put top edge and left edge in the center
   */
   top: 50%;
   left: 50%;
   margin: -13px 0px 0px -13px;
   /*
    Offset the position correctly with
    minus half of the width and minus half of the height
   */
}

body {
  //background-color:#03030a;
  min-width: 800px;
  min-height: 400px
}

.preview {
  position: relative;
}

.imgFace {
  z-index: -35;
}
.imgFaceLine {
  z-index: -33;
}
.imgHair {
  z-index: -31;
}
.imgHairLine {
  z-index: -29;
}
.imgBang {
  z-index: -27;
}
.imgBangLine {
  z-index: -25;
}
.imgSide {
  z-index: -23;
}
.imgSideLine {
  z-index: -21;
}
.imgEyes {
  z-index: -19;
}
.imgEyeballs {
  z-index: -17;
}
.imgEyebrows {
  z-index: -15;
}
.imgEyebrowsLine {
  z-index: -13;
}
.imgNose {
  z-index: -11;
}
.imgMouth {
  z-index: -9;
}
.imgMouthLine {
  z-index: -7;
}
.imgCloth {
  z-index: -5;
}
.imgClothLine {
  z-index: -3;
}
.imgAccessories {
  z-index: -1;
}

