.wrapper {
    overflow: hidden;
    min-height: 1200px;
}

.parent {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
}

.image1 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500px;
  z-index: 1;
}
.eyes {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 500px;
  z-index: 2;
}
.mouth {
  position: absolute;
  top: 50px;
  left: -25px;
  width: 550px;
  z-index: 2;
}

.function-buttons {
  margin-top: -100px;
  position: absolute;
  top: 700px;

}

.column {
  float: left;
  width: 50%;
  padding: 15px;
}

.choice {
  width: 200px;
}

.choosed {
  width: 200px;
  border: 2px solid red;
}

.a {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
.a.b {
    width: 500px;
    height: 600px;
    border: 1px solid green;
}
.c {
    position: absolute;
    top: 25%;
    left: 25%;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}
.d {
    position: absolute;
    top: 25px;
    left: 25px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid blue;
}

.icontest1 {
  position: absolute;
  top: 80px;
  left: 0;
  width: 500px;
  z-index: 1;
  filter: hue-rotate(90deg);
}

.dot {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

body {
    //background-color:#03030a;
    min-width: 800px;
    min-height: 400px
}

.imgFace {
  z-index: -35;
}
.imgFaceLine {
  z-index: -33;
}
.imgHair {
  z-index: -31;
}
.imgHairLine {
  z-index: -29;
}
.imgBang {
  z-index: -27;
}
.imgBangLine {
  z-index: -25;
}
.imgSide {
  z-index: -23;
}
.imgSideLine {
  z-index: -21;
}
.imgEyes {
  z-index: -19;
}
.imgEyeballs {
  z-index: -17;
}
.imgEyebrows {
  z-index: -15;
}
.imgEyebrowsLine {
  z-index: -13;
}
.imgNose {
  z-index: -11;
}
.imgMouth {
  z-index: -9;
}
.imgMouthLine {
  z-index: -7;
}
.imgCloth {
  z-index: -5;
}
.imgClothLine {
  z-index: -3;
}
.imgAccessories {
  z-index: -1;
}

