@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Lexend+Deca&display=swap');

html {
  font-size: 62.5%;
}

body {
  color: #4A4A4A;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'DM Serif Text', serif;
  font-family: 'Lexend Deca', 'Hiragino Sans', sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

a:link, a:visited, a:hover, a:active {
  color: #0abab5;
  text-decoration: none;
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

h2 {
  color: #6E7071;
  margin-top: 80px;
  margin-bottom: 80px;
  letter-spacing: 2px;
  // font-family: 'Abril Fatface';
  font-size: 4rem;
  font-weight: normal;
  line-height: 100%;
  text-align: center;
}

h2 {
  @media (max-width: 767px) {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}


h3 {
  margin-top: 80px;
  margin-bottom: 50px;
  color:#999999;
  font-size: 2.4rem;
  font-weight: normal;
}

h3 {
  @media (max-width: 767px) {
    margin-top: 70px;
    margin-bottom: 40px;
  }}

.header {
  display: block;
  height: 80px;
}

.heading {
  // font-family: 'Abril Fatface';
  font-weight: normal;
  font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.heading {
  @media (max-width: 767px) {
    font-size: 3rem;
  }}

.Dropdown-control {
    background-color: #6e6f70;
    border: 1px solid white;
    color: white;
}

ul li, ol li {
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}


.btn {
  background-color: #0abab5;
  font-family: 'Lexend Deca', sans-serif;
  display: block;
  width: 300px;
  height: 40px;
  margin: 30px auto;
  line-height: 40px;
  border-radius: 7px;
  box: none;
  color: white;
  border-style: none;
}

.btn {
  @media (max-width: 767px) {
    width: 100%;
    margin: 40px auto;
    }
}

.wrapper {
  overflow:hidden;
  min-height: 500px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #EEEEEE;
  height: 30px;
  padding: 10px;
  // font-family: 'Lexend'
}

.placeholder {
  padding: 0 1% 100px 1%!important;
}

.placeholder {
  @media (max-width: 767px) {
    padding: 0 1% 100px 1%!important;
  }
}

.form-section input {
  width: 97%;
  margin: 10px 0 30px 5px;
}

.form-section input {
  @media (max-width: 767px) {
    width: 93%;
  }}

/* topbar */


.topbar-contents {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e7071!important;
  height: 80px;
  width: 100%;
  padding: 60px 100px;
  z-index:1;
}

.search-button {
  background-color: #F99F48;
}

.signin, .register {
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.register {
  border: 2px solid #fff;
  border-radius: 7px;
  margin-right: 25px;
  padding: 8px;
}

.topbar-contents {
  @media (max-width: 767px) {
    display: none;
  }
}

.logo-mobile {
  width: 50%;
  height: auto;
  float: left;
}

.mobile-menu-icon {
  width: 90%;
  height: 80%;
  // float: right;
}

.mobile-signin {
  justify-content: flex-end;
  height: 100px;
  width: 70px;
  margin-left: 10px;
  line-height: 100px;
}

.mobile-topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e7071;
  height: 80px;
  width: 100%;
  padding: 10px 2% 10px 0;
}

.sign-in-mobile {
  margin: 0;
  display: block;
  position: absolute;
  left:8px;
  top: 40px;
  // background-color: pink;
  // float: right;
}

.mobile-topbar-contents {
  @media (min-width: 768px) {
    display: none;
  }
}

/* top-menu */

.menu {
  height: 80px;
  // border-bottom: solid 1px #D3D3D3;
  background-color: #ecf5f5!important;
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  display: inline-block!important;
  color: #4A4A4A;
  text-decoration: none;
  margin: 30px 40px;
  font-weight: bold;
  letter-spacing: 3px;
}

.menu, .menu a {
  @media (max-width: 767px) {
    height: auto;
    display: block;
    padding: 3px 3%;
  }
}

.menu a:link, .menu a:visited, .menu a:hover, .menu a:active {
  @media (max-width: 767px) {
    margin: 10px;
    display: block!important;
  }
}


/* catchcopy */

.catchcopy.clearfix {
  position: relative;
  height: 580px;
}

.catchcopy.clearfix {
  @media (max-width: 767px) {
    height: 250px;
  }}


.catch2 {
  // font-family: baskerville;
  color: white;
  position: absolute;
  bottom: 40px;
  left: 38%;
  // font-size: 6rem;
  width: 55%;
  // padding: 0 30px;
  // margin: 10% 40% 30% 2%;
}

.catch h1, .catch2 h1 {
  // font-family: 'Abril Fatface';
  font-weight: normal;
  font-size: 6rem;
  line-height: 150%;
  margin-bottom: 30px;
}


.catch2 {
  @media (max-width: 767px) {
    margin: auto;
    width: 100%;
    padding: 0 10px;
    bottom:  50px;
    left: 0;
  }}

  .catch h1, .catch2 h1 {
    @media (max-width: 767px) {
      font-size: 3rem;
    }}

.site-desc {
  font-size: 2rem;
}


// .site-description {
//   position: absolute;
//   top: 60%;
//   font-size: 2rem;
//   line-height: 30px;
//   padding: 0 30px;
//   margin-top: 30px;
// }

.site-title {
  @media (max-width: 767px) {
    line-height: 50px;
    font-size: 4rem;
  }}

.site-description {
  @media (max-width: 767px) {
    font-size: 1.5rem;
  }}

.lpimage {
  // float: right;
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  // background-color: gray;
  padding-top: 0;
}

.lpimage-mobile {
  width: 100%;
  height: 100%;
}

.lpimage {
  @media (max-width: 767px) {
    display: none;
  }}

.lpimage-mobile {
  @media (min-width: 767px) {
    display: none;
  }}

/* How It Works */

.how {
  background-color: #FFF;
  width: 100%;
  // height: 670px;
  padding: 80px 0;
}

.how {
  @media (max-width: 767px) {
    // height: 800px;
    padding: 30px 7% 100px;
  }}

.heading-h {
  color: #6E7071;
  font-family: 'Abril Fatface';
  font-weight: normal;
  // font-size: 4rem;
  margin-top: 20px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}

.how-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 50px auto 50px;
}

.how-box {
  display: table-cell;
  padding: 0 20px;
}

.how-wrapper, .how-box {
  @media (max-width: 767px) {
    display: block;
  }}

  .how-box {
    @media (max-width: 767px) {
      margin: 80px 0;
    }}

.how .heading {
  color: #FFB23B;
}

// .how-title {
//   font-size: 2.5rem;
//   color: #1B435D;
//   font-weight: bold;
//   margin: 20px 20px;
// }
//
// .how-description {
//   font-size: 2rem;
//   margin: 10px 20px;
//   line-height: 2;
// }

.lp-how {
  width: 60%;
  max-width: 60%;
  height: auto
  // height: 400px;
  // margin: 50px 0 0;
}

.lp-how {
  @media (max-width: 767px) {
    display: none;
  }}

.how-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  // background-color: yellow;
}

.how-container {
  @media (max-width: 767px) {
    display: none;
  }}

.how-container-mobile {
  @media (min-width: 767px) {
    display: none;
  }}

.lp-how-mobile {
  width: 30%;
  height: 300px;
  float: left;
  margin-bottom: 20px;
}

.how-description {
  float: right;
  height: 300px;
  width: 70%;
  display: flex;
  flex-flow: column;
  text-align: left;
  // display: inline;
}

.how-1, .how-2, .how-3, .how-4 {
  font-weight: bold;
  flex: 1;
  // background-color: pink;
}

.how-1, .how-2, .how-3, .how-4 {
  @media (max-width: 767px) {
    margin: 10px 0 0 0;
    display: inline;
    vertical-align: middle;
    height: 25%;
  }}

.how-4 {
  @media (max-width: 767px) {
    margin-top: 30px;
  }}

.how-intro {
  display: inline-block;
  width: 70%;
  margin: 30px auto 80px;
  font-size: 1.4em;
  line-height: 2;
  color: #75a1a1;
}

.bold {
  font-weight: bold;
}

.how-intro {
  @media (max-width: 767px) {
    width: 80%;
    font-size: 1.3em;
  }}


/* Use Case */

.use {
  background-color: #FFB23B;
  width: 100%;
  height: 550px;
  padding: 80px 30px;
}

.use {
  @media (max-width: 767px) {
    height: 800px;
  }}

.use .heading {
  color:white;
}

.wrapper-shopper {
  background-color: #FFF;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 30px auto 0;
  padding: 20px 30px;
}

.wrapper-shopper {
  @media (max-width: 767px) {
    padding: 10px 20px;
  }
}

.use-box {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  height: 250px;
}

.wrapper-shopper, .use-box {
  @media (max-width: 767px) {
    display: block;
  }}

.use-box {
  @media (max-width: 767px) {
    margin: 80px 0px;
    height: 150px;
  }
}

.person-title {
  font-weight: bold;
  font-style: italic;
  display: block;
  font-size: 3rem;
  color: #F99F48;
  padding: 0px;
}

.shopper-description, .traveler-description {
  display: block;
  font-weight: none;
  margin: 30px 0 0 0;
  font-size: 2rem;
}

.use-example {
  font-size: 1.8rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translate(0%,-50%);
  -webkit-transform : translate(0%,-50%);
  transform : translate(0%,-50%);
  width: 50%;
  line-height: 25px;
  padding: 20px;
}

.use-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(0%,-50%);
  -webkit-transform : translate(0%,-50%);
  transform : translate(0%,-50%);
  width: 50%;
  height: 200px;
  background-color: grey;
  opacity: 0.8;
}

.button {
  display: inline-block;
  font-size: 2rem;
  // font-weight: bold;
  // border: 2px solid #FFF;
  border-radius: 7px;
  color: #FFF!important;
  background-color: #0abab5 ;
  width: 250px;
  height: 50px;
  margin: 70px 0 0;
  line-height: 50px;
  letter-spacing: 2px;
}

.button {
  @media (max-width: 767px) {
    margin: 30px 0 0;
  }}


.button:hover {
  opacity: 0.8;
}

/* Service */

.service {
  background-color: white;
  width: 100%;
  height: 600px;
  padding: 60px 100px;
}

.service {
  @media (max-width: 767px) {
    height: 1500px;
    padding: 30px 7%;
  }}

.wrapper-service {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.heading.s {
  color: #6E7071;
}

.service-box {
  display: table-cell;
  padding: 0 20px;
}

.wrapper-service, .service-box {
  @media (max-width: 767px) {
    display: block;
    margin: 40px 0;
  }}

.service-icon {
  width: 64px;
  height: 64px;
  margin-bottom: 30px;
  font-size: 9rem;
  line-height: 142px;
}

.service-title {
  color: #4A4A4A;
  font-weight: bold;
  font-size: 2rem;
  margin: 10px 0 30px 10px;
}

.service-text {
  // font-size: 2rem;
  margin: 0 10px;
  line-height: 2;
  color: #4A4A4A;
  font-weight: normal;
}

// Upcoming trip

.destination {
  background-color: white;
  width: 100%;
  padding: 60px 100px 120px;
  // height: 700px;
}

.destination {
  @media (max-width: 767px) {
    padding: 30px 7% 100px;
  }}

.popular-country {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.popular-country {
  @media (max-width: 767px) {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }}

.popular-country-example {
  // width: 33.3%;
  // max-width: 33.3%;
  height: auto;
  position: relative;
  background-color: black;
  height: 180px;
  margin: 10px 10px;
}

.popular-country-example {
  @media (max-width: 767px) {
    flex-basis: 43%;
  }}

.country-name {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  margin: auto;
  line-height: 180px;
  font-size: 2rem;
}

.popular-country-example img {
  width: 100%;
  height: 180px;
}


// Why Use

.why-use {
  background-color: #FCF5EB;
  width: 100%;
  // height: 900px;
  padding: 60px 100px;
}

.why-use {
  @media (max-width: 767px) {
    padding: 30px 7%;
    // height: 1500px;
  }}

.heading.w {
  color: #FFBF5D;
}

.case-one {
  width: 85%;
  margin: 35px auto 35px;
  // background-color: white;
  padding: 30px 10px 20px;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #F9F9F9), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #F9F9F9),color-stop(.75, #F9F9F9), color-stop(.75, transparent),to(transparent));
  -webkit-background-size: 14px 14px;
}

.case-one {
  @media (max-width: 767px) {
    margin: 5px auto 30px;
    padding: none;
    width: 100%;
  }}

.lisa-total {
  display: inline-block;
  vertical-align:top;
  // font-weight: bold;
  font-size: 2rem;
  margin: auto auto;
  line-height: 2;
}

.lisa-total {
  @media (max-width: 767px) {
    font-size: 1.5rem;
  }}

.lisa-pic {
  display: inline-block;
  margin: 0 40px 0 0px;
}

.lisa-pic {
  @media (max-width: 767px) {
    margin: 0;
  }}

.lisa {
  width: 80%;
  height: 80%;
  opacity: 70%;
}

.use-case {
  display: inline-block;
  // position: relative;
  width: 40%;
  // height: 530px;
  background-color: white;
  margin: 0 30px 30px;
  padding: 30px 10px 20px;
  border-radius: 3%;
  // height: 300px;
}

.use-case {
  @media (max-width: 767px) {
    width: 100%;
    margin: 0 0 20px 0;
  }}

.item-title {
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  margin: auto;
  line-height: 180px;
  font-size: 2rem;
}

.item-image {
  position: relative;
  background-color: black;
  width: 90%;
  height: 180px;
  margin: 10px auto;
}

.item-image img {
  width: 100%;
  height: 100%;
}

.saving-container {
  margin: auto;
  width: 90%;
  height: 300px;
  // background-color: pink;
}

.saving-container {
  @media (max-width: 767px) {
    height: 250px;
  }}

.saving {
  display: inline-block;
  width: 43%;
  min-width: 100px;
  height: 280px;
  // background-color: green;
  margin: 10px;
  vertical-align: top;
}

.saving {
  @media (max-width: 767px) {
    width: 40%;
    height: 200px;
  }}

.amount {
  font-size: 1.7rem;
  font-weight: bold;
  color: #F17816;
  margin: auto 0 10px 0;
  line-height: 30px;
}

.ast {
  font-weight: normal;
}

.amount.s {
  // display: inline;
  font-size: 1.5rem;
  line-height: 20px;
}

.user-pic img {
  width: 80%;
  max-width: 80%;
  height: auto;
  // background-color: black;
  margin: 20px auto 0px;
}

.use-disclaimer {
  text-align: right;
  margin: 0 20px 0 0;
  font-size: 0.8em;
}

/* Latest Requests */

// .latest {
//   background-color: #1B435D;
//   width: 100%;
//   height: 800px;
//   padding: 80px 50px;
// }
//
// .latest {
//   @media (max-width: 767px) {
//     height: 1500px;
//   }}
//
// .latest .heading {
//   color:white;
// }
//
// .request-box {
//   display: inline-block;
//   position: relative;
//   background-color: #FFF;
//   width: 250px;
//   height: 300px;
//   padding: 200px 15px 0;
//   margin: 20px 10px;
//   box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
// }
//
// .request-box:hover {
//   opacity: 0.8;
// }
//
// .request-title {
//   font-weight: bold;
//   font-size: 2rem;
//   display: block;
//   margin: 0 10px 20px 10px;
//   color: #1B435D;
// }
//
// .date {
//   display: block;
//   color: #F99F48;
// }
//
// .request-img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
// }

/* footer */

footer {
  text-align: left;
  background-color: #6e7071;
  width: 100%;
  height: 300px;
  padding: 60px 100px;
  color: white;
}

footer {
  @media (max-width: 767px) {
    padding: 10px 7%;
    height: 150px;
  }}

footer ul {
  list-style: none;
  margin: 0 20px 0 0;
  padding: 0 0 0 0;
}

footer li {
  margin-bottom: 20px;
}

footer li {
  @media (max-width: 767px) {
    margin-bottom: 5px;
  }}

.footer-item {
  display: inline-block;
  margin-right: 10px;
}

footer a:link,footer a:visited,footer a:hover,footer a:active {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Others */

.how-title, .person-title, .service-title {
  @media (max-width: 767px) {
    font-size: 2.5rem;
      }}


.snapwidget {
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.snapwidget {
  @media (max-width: 767px) {
    margin-top:50px;
  }
}

// sign-in

.signin-box {
  width: 35%;
  margin: 40px auto;
  color: #4A4A4A;
  // text-align: left;
  padding: 20px 10px;
}

.signin-box {
  @media (max-width: 767px) {
    width: 90%;
  }}

.signin-box input {
  width: 50%;
}

.start-error {
  margin-bottom: 40px;
}

.start {
  display: inline-block;
  width: 25%;
  color: #4A4A4A;
  text-align: left;
  margin-right: 3px;
  font-weight: bold;
}

.btn.start-page {
  width: 76%;
}

.start-link {
  color: #f17816!important;
}

// table

.table-data {
  width: 90%;
  // color: #1B435D;
  border-collapse: collapse;
  margin: 20px auto 50px;
}

.table-data {
  @media (max-width: 767px) {
    table-layout: fixed;
    width: 100%;
    font-size: 1.2rem;
    line-height: 15px;
  }}

.table-heading td:nth-child(3),
.table-heading td:nth-child(4),
.table-heading td:nth-child(5),
.transaction-data td:nth-child(3),
.transaction-data td:nth-child(4),
.transaction-data td:nth-child(5) {
  @media (max-width: 767px) {
    display: none;
  }}

.table-data td {
  padding: 10px 3px;
  border-bottom: 1px solid #BBBBBB;
}

.table-data td:nth-child(4) {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-data a.user-link {
  color: black;
}

// topbar-contents

.topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFB23B;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.logo {
  width: 150%;
  height: auto;
}

.logo-link {
  width: 15%;
  height: auto;
  font-size: 1.5em;
  color: white;
}

.topbar-contents a:link,.topbar-contents a:visited,.topbar-contents a:hover,.topbar-contents a:active {
  color: white!important;
  text-decoration: none;
  cursor: pointer;
}

.mobile-topbar-contents a:link,.mobile-topbar-contents a:visited,.mobile-topbar-contents a:hover,.mobile-topbar-contents a:active {
  color: white!important;
  text-decoration: none;
  cursor: pointer;
}

.login {
  width: 20%;
}

.signin, .register {
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 20px;
}

.register {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 7px;
  width: 40%;
}

#terms, .agree {
  display: inline-block;
  text-align: left;
  width: auto;
}

#terms {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.topbar-contents {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile-topbar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 1% 5%;
}

.mobile-menu-icon {
  font-size: 5rem;
  color: black;
}

.mobile-topbar-contents {
  @media (min-width: 768px) {
    display: none;
  }
}

// About Us

.page {
  text-align: left;
  width: 80%;
  margin: 100px auto 100px;
}

.page {
  @media (max-width: 767px) {
    margin: 50px auto 50px;
  }}

.member {
  display: inline-block;
  width: 40%;
  background: #ecf5f5;
  margin: 30px 2%;
  padding: 3% 5%;
  border-radius: 10px;
  // height: 450px;
  vertical-align: top;
}

.member {
  @media (max-width: 767px) {
    display: block;
    width: 100%;
    margin: 40px auto;
    height: auto;
    padding: 30px 20px
  }}


.member-title {
  font-style: italic;
  color: #0AbAb5;
}

.us-picture {
  width: 30%;
  max-width: 30%;
  height: auto;


/* profile */

.profile-switch {
  display: inline-block;
  width: 50%;
  height: 50px;
  line-height: 50px;
  letter-spacing: 3px;
}

.profile-switch.traveler {
  background-color: grey;
  color: white;
  float: right;
}

.profile-switch.shopper {
  background-color: white;
  color: black;
  float: left;
}




.profile {
  float: right;
  // height: 1000px;
  width: 75%;
  background-color: white;
  padding: 0 1% 100px 1%;
}

.profile {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 100px 3%;
  }
}

.profile-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
  }
}

.profile-right {
  @media (min-width: 767px) {
    float: right;
    width: 50%;
  }
}



// .profile img {
//   display: block;
//   height: 200px;
//   width: 200px;
//   margin: 60px auto 0;
//   border: 1px solid grey;
// }


.picture-upload {
  display: block;
  margin: 5px auto 30px;
  padding: 1px;
  width: 200px!important;
  background-color: transparent!important;
  border: none!important;
}

.fab {
  font-size: 30px;
  margin-bottom: 30px;
}

.sns:link, .sns:visited, .sns:hover, .sns:active {
  color: #78BBE6;
}

.user-name {
  font-size: 2rem;
  margin: 40px 0 50px!important;
  // color: #1B435D;
  // width: 30%;
  font-weight: bold;
  text-align: left!important;
}

.user-data {
  // font-size: 2rem;
  width: 80%;
  // text-align: center;
}


.user-data {
  @media (max-width: 767px) {
    width: 100%;
  }}

.sc-bZQynM.bpzdHV {
  display: inline-block;
  position: relative;
}

.user-data.resi {
  position: absolute;
  right: -51%;
  bottom: -100%;
  display: block;
  margin: 5px auto 5px;
  text-align: left;
  width: 201%;
}

.user-data.resi {
  @media (max-width: 767px) {
    width: 100%;
    position: static;
  }}

.active-info {
  margin-bottom: 40px;
  // color: #1B435D;
}

.object {
  color: #999999;
}

.table-heading, .table-heading-upcoming{
  color: #999999;
  // font-weight: bold;
}

.table-data {
  width: 90%;
  // color: #1B435D;
  border-collapse: collapse;
  margin: 20px auto 50px;
}

.table-data {
  @media (max-width: 767px) {
    table-layout: fixed;
    width: 100%;
    font-size: 1.2rem;
    line-height: 15px;
  }}

.table-heading td:nth-child(3),
.table-heading td:nth-child(4),
.table-heading td:nth-child(5),
.transaction-data td:nth-child(3),
.transaction-data td:nth-child(4),
.transaction-data td:nth-child(5) {
  @media (max-width: 767px) {
    display: none;
  }}

.table-data td {
  padding: 10px 3px;
  border-bottom: 1px solid #BBBBBB;
}

.table-data td:nth-child(4) {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-data a.user-link {
  color: black;
}}

/* sidemenu-logout */

.sidemenu-logout {
  float: left;
  // height: 1300px;
  width: 25%;
  background-color: #FCF5EB;
  // letter-spacing: 3px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.sidemenu-logout {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidemenu-logout p {
  padding: 0;
  margin: 80px auto;
  color: #999999;
}

/* sidemenu */

.sidemenu {
  float: left;
  // height: 1300px;
  width: 25%;
  background-color: #ecf5f5;
  // letter-spacing: 3px;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.sidemenu {
  @media (max-width: 767px) {
    display: none;
  }
}

.sidemenu ul {
  padding: 0;
}

.sidemenu li {
  margin: 80px auto;
}

.sidemenu .logout {
  color: #0abab5;
}

.sidemenu-mobile {
  text-align: left;
  height: auto;
  width: 100%;
  padding: 3% 5%;
  background-color: #4A4A4A;
  letter-spacing: 3px;
  vertical-align: middle;
}

.sidemenu-mobile span {
  float: right;
  vertical-align: central;
  font-size: 1.5em;
  color: white;
}

.sidemenu-mobile a {
  color: white;
}

.sidemenu-mobile ul {
  padding: 0;
  list-style: none;
}

.sidemenu-mobile li {
  margin: 30px 0;
}

.sidemenu-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.contact-us-sidebar {
  color: #FF8181!important;
  font-weight: bold;
}

// profile


.profile {
  float: right;
  // height: 1000px;
  width: 75%;
  background-color: white;
  padding: 0 1% 100px 1%;
}

.profile {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 100px 3%;
  }
}

.profile-left {
  height: 300px;
}

.profile-left {
  @media (min-width: 767px) {
    float: left;
    width: 50%;
    height: 200px;
  }
}

.profile-right {
  @media (min-width: 767px) {
    float: right;
    width: 50%;
    height: 200px
  }
}

.profile-right {
  @media (max-width: 767px) {
    display: none;
  }
}

.profile-right-mobile {
  @media (min-width: 767px) {
    display: none;
  }
}

.profile-right p {
  @media (min-width: 767px) {
    text-align: left!important;
  }
}


// .profile img {
//   display: block;
//   height: 150px;
//   width: 150px;
//   margin: 0 auto 0;
//   border: 1px solid grey;
// }

.profile img {
  @media (max-width: 767px) {
    margin-top: 0;
    height: 100px;
    width: 100px;
  }
}

.trim-wrap{
  position:relative;
  width:150px;
  height:0;
  padding-bottom:150px;/* 幅に対する縦のサイズ */
  overflow:hidden;
  background-color:#ccc;
  margin: 23px 0 0 100px;
}
.trim-wrap>img{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:auto;
  height:auto;
  max-width:179%;/* 横向き16:9の画像が表示エリア一杯になるように指定 */
  max-height:initial;
}

.trim-wrap {
  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

// .trim-wrap-portfolio{
//   position:relative;
//   width:300px;
//   height:0;
//   padding-bottom:300px;/* 幅に対する縦のサイズ */
//   overflow:hidden;
//   background-color:#ccc;
//   margin: 23px 0 0 100px;
// }
//
// .trim-wrap-portfolio>img{
//   position:absolute;
//   top:50%;
//   left:50%;
//   transform:translate(-50%,-50%);
//   width:auto;
//   height:auto;
//   max-width:179%;/* 横向き16:9の画像が表示エリア一杯になるように指定 */
//   max-height:initial;
// }
//
// .trim-wrap-portfolio {
//   @media (max-width: 767px) {
//     margin: 0 auto;
//   }
// }

.picture-upload {
  display: block;
  margin: 5px 0 30px 100px;
  padding: 1px;
  width: 200px!important;
  background-color: transparent!important;
  border: none!important;
}



.picture-upload {
  @media (max-width: 767px) {
    margin: 0 auto;
  }
}


.object {
  margin: 35px auto 10px;
  font-size: 0.8em;
  // font-weight: bold;
  width: 80%;
}

.object {
  @media (max-width: 767px) {
    margin-left: 0;
    width: 100%;
  }}

.fab {
  font-size: 30px;
  margin-bottom: 30px;
}

.sns:link, .sns:visited, .sns:hover, .sns:active {
  color: #78BBE6;
}

.user-name {
  font-size: 2rem;
  margin: 20px 0 10px!important;
  // color: #1B435D;
  // width: 30%;
  font-weight: bold;
}


.user-data {
  // font-size: 2rem;
  width: 80%;
  // text-align: center;
  // margin: 0 0 20px;
}

.user-data {
  @media (max-width: 767px) {
    width: 100%;
  }}

.sc-bZQynM.bpzdHV {
  display: inline-block;
  position: relative;
}

.user-data.resi {
  position: absolute;
  right: -51%;
  bottom: -100%;
  display: block;
  margin: 5px auto 5px;
  text-align: left;
  width: 201%;
}

.user-data.resi {
  @media (max-width: 767px) {
    width: 100%;
    position: static;
  }}

.active-info {
  margin-bottom: 40px;
  // color: #1B435D;
}

.object {
  color: #999999;
}

.btn.savep {
  line-height: 40px;
  width: 30%;
  margin-top: 0;
  color: white;
  height: 40px;
  padding: 0!important;
  font-size: 1.5rem;
}

.btn.savep {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.profile-detail {
  margin: 70px auto 70px;
}

.profile-detail p, .profile-detail .checkbox{
    text-align: left;
}

.profile-top {
  margin-bottom: 30px;
  display: block;
  height: 250px;
}

.checkbox {
  height: 1.3rem;
  width: 1.3rem;
}

.checkbox-selection {
  display: inline;
  margin-right: 20px;
}

.checkbox-selection-other {
  display: inline;
  width: 20%;
  margin: none;
}

.checkbox-outline {
  text-align: left;
  width: 80%;
  margin: 0 auto 0;
}

.checkbox-outline {
  @media (max-width: 767px) {
    width: 100%;
  }}

// English landing page


.lpimage.englishlp {
  opacity: 40%;
}

.lpimage-mobile.englishlp {
  opacity: 40%;
}

.lpimage.englishlp {
  @media (max-width: 767px) {
    opacity: 40%;
  }}

.lpbody {
  padding: 10px 10px 50px;
}

.catch-english {
  // font-family: baskerville;
  color: #6e7071;
  // color: white;
  position: absolute;
  bottom: 140px;
  left: 22%;
  // font-size: 6rem;
  width: 55%;
  // padding: 0 30px;
  // margin: 10% 40% 30% 2%;
}


.catch-english .button {
  margin-top: 10px;
}

.catch-english h1 {
  // font-family: 'Abril Fatface';
  font-weight: normal;
  font-size: 3rem;
  line-height: 150%;
  margin-bottom: 30px;
}


.catch-english {
  @media (max-width: 767px) {
    margin: auto;
    width: 100%;
    padding: 0 10px;
    bottom:  35px;
    left: 0;
    font-size: 0.1rem;
  }}

  .catch-english h1 {
    @media (max-width: 767px) {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }}

.how-intro.english-intro {
  margin-bottom: 5px
}

.illustrator-sort {
  background-color: #ecf5f5;
  margin: 60px 100px 10px;
  text-align: left;
  padding: 30px;
}

.illustrator-sort {
  @media (max-width: 767px) {
    margin: 30px 0 0 0;
  }}

.illustrator-sort ul {
  list-style: none;
}

.illustrator-sort ul li {
  display: inline-block;
}

.search {
  display: inline-block;
  margin-top: 5px;
  width: 50%;
}

.searchbox {
  width: 70%;
  margin-right: 10px;
}

.search-title {
  margin-right: 20px;
  width: 20%;
}

.search-title.bottom {
  display: inline-block;
}

.button.searchbtn {
  margin: 30px auto 0;
  text-align: center;
  // width: 100px;
  display: block;
  // height: 40px;
  line-height: 40px;
  // font-size: 1.5rem;
  border: none;
}

.illustrator-list {
  // background-color: grey;
  margin: 10px 70px;
  padding: 20px;
}

.illustrator-list {
  @media (max-width: 767px) {
    margin: 30px 0 0 0;
    padding: 0 0 0 10px;
  }}

.illustrator-list ul {
  list-style: none;
  width: 100%;
  overflow: hidden;
}

.illustrator-list ul {
  @media (max-width: 767px) {
    margin: 0;
    padding: 0;
  }}


.illustrator-list ul li{
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
  width: 30%;
}

.illustrator-list ul li:hover {
  opacity: 70%;
}

.illustrator {
  // width: 50%;
  // height: 230px;
  // background-color: blue;
  // margin: 10px;
  display: inline-block;
}

.illustrator img {
  width: 200px;
  height: 200px;
}

.illustrator img {
  @media (max-width: 767px) {
    width: 150px;
    height: 150px;
}}

.illustrator-list ul li img {
  @media (max-width: 320px) {
    width: 130px;
    height: 130px;
    //height: 110px;
  }
}

.illustrator-username {
  // background-color: green;
  display: block;
  height: 20px;
  line-height: 20px;
}

.lp-artistname {
  @media (max-width: 767px) {
    margin: 0px;
  }
}


// portfolio

.trimming {
  color: red;
  font-size: 0.65em;
}

.portfolio {
  width: 75%;
  float: right;
  display: block;
  margin: 0;
}

.portfolio {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 10px 3%;
  }
}

// .port-list {
//   // background-color: grey;
//   margin: 10px 100px;
//   padding: 20px;
// }
//
// .port-list {
//   @media (max-width: 767px) {
//     margin: 30px 0 0 0;
//     padding: 0;
//   }}

.portfolio-pic {
  display: block;
  height: 150px;
  width: 150px;
  margin: 0 auto 0;
  border: 1px solid grey;
}

// .port-list {
//   // margin-top: 300px;
//   margin-bottom: 60px;
// }
//
// .port-list {
//   @media (max-width: 767px) {
//     margin-top: 50px;
//     padding-left: 10px;
//     margin-bottom: 40px!important;
//   }
// }

// port

.port-list {
  // background-color: grey;
  margin: 10px 0px 80px;
  // padding: 20px;
  text-align: center;
  padding: 0;
}

.port-list {
  @media (max-width: 767px) {
    margin: 70px 0 30px 0;
  }}

.port-list ul {
  list-style: none;
  width: 100%;
  // overflow: hidden;
}

.port-list ul {
  @media (max-width: 767px) {
    margin-bottom: 50px;
    // padding: 10px;
  }}


.port-list ul li{
  // float: left;
  margin: 0;
  // padding-bottom: 20px;
  // width: 20%;
  padding: 0;
  display: inline-block;
}

.port-list ul li:hover {
  opacity: 70%;
}

.port-list ul li {
  width: 45%;
  margin-bottom: 5px;
}

.port-list ul li .cropped {
  width: 250px;
  height: 250px;
  // margin: auto;
}

.port-list ul li .cropped {
  @media (max-width: 767px) {
    width: 150px;
    height: 150px;
    //height: 110px;
  }
}

.port-list ul li .cropped {
  @media (max-width: 320px) {
    width: 130px;
    height: 130px;
    //height: 110px;
  }
}

.port-list ul li .ReactCrop__image {
  width: 250px;
  height: auto;
  // margin: auto;
}

.port-list ul li .ReactCrop__image {
  @media (max-width: 767px) {
    width: 150px;
    height: auto;
    //height: 110px;
  }
}

.port-list ul li .ReactCrop__image {
  @media (max-width: 320px) {
    width: 130px;
    height: auto;
    //height: 110px;
  }
}



// done

.illustrator-list ul li {
  @media (max-width: 768px) {
    width: 45%;
    height: auto;
    margin-right: 5px;
    padding: 9px;
  }
}

.port ul li:hover {
  opacity: 100%;
}


.fixed-btn {
  position: fixed;
  top: 80px;
  right: 10px;
  // padding: 6px 40px;
  display: inline-block;
  text-decoration: none;
  background: #ff8181;
  color: #FFF;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #bd6565;
  transition: .4s;
  font-size: 1em;
  // opacity: 0.8;
  margin: 0;
  cursor: pointer;
}

.fixed-btn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

.fixed-btn-mobile {
  @media (max-width: 767px) {
    position: fixed;
    bottom: 10px;
    right: 10px;
    // padding: 6px 40px;
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
    font-size: 1em;
    // opacity: 0.8;
    margin: 0;
    cursor: pointer;
  }
}

.fixed-btn-mobile {
  @media (min-width: 767px) {
    display: none;
  }
}

.fixed-btn {
  @media (max-width: 767px) {
    display: none;
  }
}

.port-edit {
  margin-top: 80px;
}

.portfolio-upload {
  width: 100%!important;
  margin-left: 0px;
}

.two-btn {
  display: inline-block;
  margin: 60px 10px 60px;
}

.right-btn {
  background-color: #6e7071;
}

.two-btn {
  @media (max-width: 767px) {
    margin: 10px 0;
    display: block;
  }
}

// registration screen

.next-step {
  text-align: left;
}

.next-step {
  @media (min-width: 767px) {
    width: 80%;
    margin: 0 auto;
    // text-align: left;
  }
}

.todo {
  font-size: 2rem;
  font-weight: bold;
  // color: red;
}

.next-step li {
  margin: 10px;
}

.next-step ol {
  padding-left: 15px;
}

.red {
  color: #CC3300;
}

.next-step ul {
  padding-left: 5px;
}

.thankyou {
  width: 70%;
  margin: 100px auto 20px;
}

.next {
  margin: 60px auto 30px;
}

// form

.form {
  display: block;
  float: right;
  width: 75%;
  background-color: #EEEEEE;
  padding-bottom: 70px;
}

.form {
  @media (max-width: 767px) {
    width: 100%;
    padding: 10px 3%;
  }}


.form-wrapper {
  text-align: left;
}

.form-section {
  display: block;
  background-color: white;
  width: 80%;
  border-radius: 7px;
  margin: 30px auto 0px;
  padding: 50px;
  text-align: left;
}

.form-section {
  @media (max-width: 767px) {
    width: 100%;
    margin: 10px auto 0px;
    padding: 20px;
  }}


.form-section.first {
  margin-top: 70px;
}

.form-heading {
  display: inline-block;
  margin: 0 0 0 0;
  font-weight: bold;
}

.form-data {
  display: inline-block;
  margin: 10px 0 30px 0;
  text-align: left;
  word-break: break-all;
}

.form-data img{
  width: 100%;
  max-width: 300px;
  height: auto;

}


.form-send-btn {
  color: white;
  // background-color: #1B435D;
  // display: block;
  width: 50%;
  height: 50px;
  // line-height: 30px;
  // border-radius: 10px;
  margin-top: 50px;
}

.form-send-btn {
  @media (max-width: 767px) {
    width: 100%;
    // margin: 0;
  }}

  .contact-message {
    height: 300px;
    vertical-align: top;
    width: 100%;
  }

  .contact-form-intro {
    width: 90%;
    margin: 70px auto;
  }

  // email

.btn.email {
  color: white;
}

// dropdown menu

.Dropdown-control {
  // border: none;
  background-color: #6e7071;
}

.ig {
  width: 30px;
  height: auto;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.ig:hover {
  opacity: 0.6;
}

.ig {
  @media (max-width: 767px) {
    float: none;
  }}

  .error-heading {
    color: red;
    margin-top: 70px;
  }

// Community

.community {
  float: right;
  // height: 1000px;
  width: 75%;
  background-color: white;
  padding: 0 1% 100px 1%;
}

.community {
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 0 3% 100px 3%;
  }
}

.community ul {
  padding: 0px;
}

.community li {
  // padding: 0px;
  // margin: 0px auto 30px;
}

.category-box {
  list-style: none;
  border: 1px solid;
  display: inline-block;
  width: 40%;
  height: 60px;
  margin: 0px 5px;
  line-height: 60px;
  padding: 0px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: middle;
}

.category-box {
  @media (max-width: 767px) {
    width: 100%;
    margin: 10px 0px;
    padding: 0px;
  }
}

.category-name:hover {
  color: #6E7071;
}

.community .Dropdown-control {
  width: 80%;
  margin: 0px auto 80px;
}

.community .Dropdown-menu {
  width: 80%;
  left: 10%;
}

 .community .Dropdown-control {
  @media (max-width: 767px) {
    width: 100%;
  }
}

.community .Dropdown-menu {
  @media (max-width: 767px) {
    width: 100%;
    left: 0%;
  }
}

.topic-list {
  margin: 30px auto 100px;
  border-top: 1px dashed #6e7071;
}

.post-done {
  margin-top: 100px;
}

.topic-component {
  border-bottom: 1px dashed #6e7071;
  // margin: 10px auto;
  padding: 10px;
}

.topic-component p {
  word-break: break-all;
}

.topic-list .topic-component:hover {
  color: #6E7071;
}

.topic-title {
  font-weight: bold;
  font-size: 1.4em;
}

.comment {
  // border: 1px solid #6E7071;
  // width: 70%;
  padding: 30px;
  margin: 50px auto;
  border-radius: 5px;
  background-color: #EEEEEE;
}

.comment .user-data {
  margin-bottom: 20px;
}

.comment .btn.savep.two-btn {
  margin-bottom: 0px;
}

.comment p {
  margin-top: 0px;
}

.ad-community {
  margin: 30px auto;
  max-width: 100%;
}

.breadcrumbs {
  // text-align: left;
  margin-bottom: 50px;
}

.shop-survey {
  margin: 50px auto 70px;
}

.yesnocheckbox {
  width: 20px;
  height: 20px;
  margin: 0px 5px 0px 0px;
}

.yesno-yes {
  height: 20px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}

.yesno {
  display: inline-block;
  margin-right: 30px;
}
